.checkout_ad {
  height: 320px;
  bottom: 50px;
  position: relative;
  width: 100%;
}

.checkout {
  margin-left: 15px;
  margin-right: 10px;
}

.checkout_title {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1.3rem;
  background: black;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  position: relative;
  bottom: 20px;
  background-color: black;
  width: 68.5%;
}

.flex_items {
  display: flex;
  justify-content: space-evenly;
}

.subtotal {
}

.fix {
  position: fixed;
  background: linear-gradient(to right, #e0eafc 0%, #cfdef3 51%, #e0eafc 100%);
  width: 23%;
  height: 35%;
  border-radius: 8px;
}

.bottomcontent {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  max-width: 76%;
}
.products_list {
  align-content: flex-start;
  flex: 0.9;
}

@media (max-width: 950px) {
  .hide-sm {
    display: none;
  }
  hr {
    margin-top: 350px;
  }
  .subtotal {
    position: relative;
    bottom: 420px;
    left: 100px;
    flex: 0.5;
  }
  .checkout {
    display: flex;
    flex-direction: column;
  }

  .bottomcontent {
    flex-direction: column;
    flex: 1;
  }
  .fix {
    width: 50%;
  }

  .subtotalscomp {
    position: relative;
  }
}

@media (max-width: 750px) {
  .subtotal {
    bottom: 480px;
  }
}

@media (max-width: 475px) {
  .subtotal {
    bottom: 530px;
    left: 90px;
  }
}
